<!doctype html>
<html>
<head>
    <title>Requests</title>
</head>

<body>
<h1>Registration requests</h1>

<h2>Create request</h2>

<form action="" method="post">
    Source: <input name="src_url" type="text"/>
    <input type="submit" name="register"/>
</form>

<h2>List of registration requests</h2>
<ul>
    {% for r in requests.items %}
      {% include 'request.html' %}
    {% endfor %}

    {% if requests.has_prev %}<a href="{{ url_for('get_requests', page = requests.prev_num) }}"><< Newer requests</a>{% else %}<< Newer requests{% endif %} |
    {% if requests.has_next %}<a href="{{ url_for('get_requests', page = requests.next_num) }}">Older requests >></a>{% else %}Older requests >>{% endif %}
</ul>
</body>
</html>
